body {
  color: rgb(30,30,30);
  background-color: rgb(240,240,240);
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  text-align: center;
}

h1,h2{
  font-family: 'Raleway', sans-serif;
  color: rgb(100,100,100);
}
h3{
  font-family: 'Raleway', sans-serif;
  color: #2F97C1;
}


h1 {
  color: #2F97C1;
}
ul {
  padding-left: 0px;
}
.img-circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: black;
  box-shadow: 3px 3px 3px grey;
}

.list-text {
  font-size:30px;
  display: inline-block;
  padding: 30px;
  margin: auto auto;
  border: 2px solid rgb(220,220,220);
}

.list-text:hover {
  border: 2px solid #2F97C1;
}

.list-text i {
 color: rgb(220,220,220);
 padding: 5px;
}

.list-text i:hover {
  color: #2F97C1;
}

.button {
  background-color: #2F97C1;
  color: white;
  border-radius: 3px;
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  padding: 10px 0px;
}

.img-rectangle {
  height: 150px;
  width: 100px;
}

.table-center {
  text-align: center;
}

.container-style {
  background-color: white;
  width: 700px;
  margin: 20px auto;
  padding: 20px 50px;
  box-shadow: 3px 3px 3px rgb(200,200,200);
  border-radius: 5px;
}

.list-icon {
  font-size:30px;
  display: inline-block;
  padding: 30px;
  margin: auto auto;
}

.list-icon i {
 color: rgb(220,220,220);
 padding: 5px;
}

.list-icon i:hover {
 color: #2F97C1;
}
